# Risk of a Security | S&P500 vs AAPL

In [ ]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [ ]:
tickers = ['AAPL', '^GSPC']
Security_data = pd.DataFrame()
for t in tickers:
    Security_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [ ]:
Security_data.tail()

                  AAPL        ^GSPC
Date
2018-11-16  193.529999  2736.270020
2018-11-19  185.860001  2690.729980
2018-11-20  176.979996  2641.889893
2018-11-21  176.779999  2649.929932
2018-11-23  172.289993  2632.560059

In [ ]:
Security_returns = np.log(Security_data / Security_data.shift(1))
# we take log returns because we will examine each company seperately at a given time frame and this approach will tell us 
# more about behaviour of a stock

In [ ]:
Security_returns

                AAPL     ^GSPC
Date
2007-01-03       NaN       NaN
2007-01-04  0.021953  0.001228
2007-01-05 -0.007147 -0.006103
2007-01-08  0.004926  0.002218
2007-01-09  0.079800 -0.000517
2007-01-10  0.046746  0.001938
2007-01-11 -0.012448  0.006320
2007-01-12 -0.012394  0.004841
2007-01-16  0.025872  0.000817
2007-01-17 -0.022391 -0.000894
2007-01-18 -0.063928 -0.002975
2007-01-19 -0.006420  0.002891
2007-01-22 -0.019511 -0.005292
2007-01-23 -0.012639  0.003536
2007-01-24  0.011601  0.008466
2007-01-25 -0.005204 -0.011334
2007-01-26 -0.010138 -0.001209
2007-01-29  0.006537 -0.001098
2007-01-30 -0.004548  0.005755
2007-01-31  0.002102  0.006571
2007-02-01 -0.011615  0.005339
2007-02-02  0.000118  0.001693
2007-02-05 -0.009604 -0.000967
2007-02-06  0.002499  0.000698
2007-02-07  0.023489  0.001394
2007-02-08  0.000348 -0.001180
2007-02-09 -0.034350 -0.007102
2007-02-12  0.019150 -0.003267
2007-02-13 -0.002123  0.007569
2007-02-14  0.007059  0.007615
...              ...       ...
2018-10-12  0.035096  0.014106
2018-10-15 -0.021618 -0.005922
2018-10-16  0.021798  0.021268
2018-10-17 -0.004331 -0.000253
2018-10-18 -0.023651 -0.014496
2018-10-19  0.015115 -0.000361
2018-10-22  0.006091 -0.004309
2018-10-23  0.009383 -0.005527
2018-10-24 -0.034904 -0.031351
2018-10-25  0.021662  0.018454
2018-10-26 -0.016052 -0.017479
2018-10-29 -0.018949 -0.006581
2018-10-30  0.004982  0.015545
2018-10-31  0.025733  0.010793
2018-11-01  0.015236  0.010502
2018-11-02 -0.068633 -0.006337
2018-11-05 -0.028799  0.005585
2018-11-06  0.010756  0.006240
2018-11-07  0.029877  0.020987
2018-11-08 -0.003495 -0.002512
2018-11-09 -0.019470 -0.009242
2018-11-12 -0.051687 -0.019898
2018-11-13 -0.010042 -0.001483
2018-11-14 -0.028654 -0.007596
2018-11-15  0.024379  0.010538
2018-11-16  0.011015  0.002221
2018-11-19 -0.040439 -0.016783
2018-11-20 -0.048957 -0.018318
2018-11-21 -0.001131  0.003039
2018-11-23 -0.025727 -0.006576

[2996 rows x 2 columns]

# AAPL

In [ ]:
Security_returns['AAPL'].mean()

0.0010242528333235862

In [ ]:
Security_returns['AAPL'].mean() * 252
# Annualizing Mean

0.25811171399754373

In [ ]:
Security_returns['AAPL'].std()
# std is the function to call out standard deviation of returns

0.019951274621660377

In [ ]:
Security_returns['AAPL'].std() * 252 ** 0.50
# 252 ** 0.50 means square rooting 252 to take out standard deviation.

0.31671666592600584

# S&P500

In [ ]:
Security_returns['^GSPC'].mean()

0.00020691057160041786

In [ ]:
Security_returns['^GSPC'].mean() * 252

0.0521414640433053

In [ ]:
Security_returns['^GSPC'].std()

0.012452956537680217

In [ ]:
Security_returns['^GSPC'].std() * 252 ** 0.50

0.1976845565171868

# AAPL vs S&P500

In [ ]:
print(Security_returns['AAPL'].mean() * 252)
print(Security_returns['^GSPC'].mean() * 252)

0.25811171399754373
0.0521414640433053

In [ ]:
Security_returns[['AAPL', '^GSPC']].mean() * 252
# Annualizing daily returns

AAPL     0.258112
^GSPC    0.052141
dtype: float64

In [ ]:
Security_returns[['AAPL', '^GSPC']].std() * 252 ** 0.50

AAPL     0.316717
^GSPC    0.197685
dtype: float64

In [ ]:
AAPL_var = Security_returns['AAPL'].var()
AAPL_var

0.0003980533590289094

In [ ]:
sp500_var = Security_returns['^GSPC'].var()
sp500_var

0.00015507612652935246

In [ ]:
AAPL_var_annual = Security_returns['AAPL'].var() * 252
AAPL_var_annual

0.10030944647528517

In [ ]:
sp500_var_annual = Security_returns['^GSPC'].var() * 252
sp500_var_annual

0.03907918388539682

In [ ]:
cov_matrix = Security_returns.cov()
cov_matrix

           AAPL     ^GSPC
AAPL   0.000398  0.000151
^GSPC  0.000151  0.000155

In [ ]:
cov_matrix_annual = Security_returns.cov() * 252
cov_matrix_annual

           AAPL     ^GSPC
AAPL   0.100309  0.038057
^GSPC  0.038057  0.039079

In [ ]:
corr_matrix = Security_returns.corr()
corr_matrix

           AAPL     ^GSPC
AAPL   1.000000  0.607837
^GSPC  0.607837  1.000000

# Calculating Portfolio Risk

In [ ]:
weights = np.array([0.5,0.5])

In [ ]:
portfolio_var = np.dot(weights.T, np.dot(Security_returns.cov()*252, weights))
portfolio_var
# .T implies transpose

0.05387550224746092

In [ ]:
portfolio_volatility = np.dot(weights.T, np.dot(Security_returns.cov()*252, weights)) ** 0.5
portfolio_volatility
# Portfolio's standard deviation

0.23211096968359965

In [ ]:
print (str(round(portfolio_volatility, 5 ) * 100) + '%')

23.211000000000002%

# Diversifiable Risk

In [ ]:
weights = np.array([0.5, 0.5])

In [ ]:
AAPL_var_annual = Security_returns['AAPL'].var() * 252
AAPL_var_annual

0.10030944647528517

In [ ]:
sp500_var_annual = Security_returns['^GSPC'].var() * 252
sp500_var_annual

0.03907918388539682

In [ ]:
diversifiable_risk = portfolio_var - (weights[0] ** 2 * AAPL_var_annual) - (weights[1] ** 2 * sp500_var_annual)
diversifiable_risk

0.01902834465729042

In [ ]:
print (str(round(diversifiable_risk*100, 3))+ '%')

1.903%

# Non-Diversifiable Risk

In [ ]:
NDR = portfolio_var - diversifiable_risk
NDR

0.0348471575901705